@charset "UTF-8";

div#membership{
	font-size:32px;
	text-decoration:underline;
	text-align: center;
	font-weight: bold;
	border-bottom:1px solid black;
	margin-bottom: 10px;
	
}
td#left{
	background-color:grey;
	color:red;
	text-align: right;
}
div#btn1{
	text-align: center;	
}

div#table{
	width:500px;
	margin-left:auto;
	margin-right:auto;
}
div#F{
	width: 100%;
}
#phone2 ,#phone3{
	width: 50px;
}